.cabecalho__menu__hamburguer {
    background: url(../assets/Menu.svg) no-repeat center;
    display: inline-block;
    height: 24px;
    width: 24px;
}

.cabecalho {
    align-items: center;
    background: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    align-items: center;
    display: flex;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu__hamburguer {
    background-image: url('../assets/Menu Aberto.svg');
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .titulo__negrito {
        font-family: var(--fonte-secundaria);
        font-size: 32px;
    }

    .container__titulo {
        display: block;

    }

    .titulo__negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .item__link {
        text-decoration: none;
        color: var(--preto);
    }

    .imagem__transparente {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto);
        text-decoration: none;
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}